@model KWFCI.Models.Interaction

<button type="button" class="newBrokerBtn btn btn-default" data-toggle="modal" data-target="#newInteraction">New Interaction</button>




<div class="modal fade" id="newInteraction" tabindex="-1" role="dialog" aria-labelledby="newInteractionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="settingsLabel">New Interaction: @*<em>TODO: Use JavaScript to dynamically make this the broker name while being typed</em>*@</h4>
            </div>
            <div class="modal-body">

                <form asp-controller="Interactions" asp-action="AddInteraction" method="post">
                    <div class="form-group center-block">

                        <label>Staff: @ViewBag.Email</label>

                        <label asp-for="Notes">Notes:</label>
                        <input asp-for="Notes" class="form-control" /><br />

                        <label asp-for="NextStep">Next Step:</label>
                        <input asp-for="NextStep" class="form-control" /><br />

                        <label asp-for="Status">Status:</label>
                        <select class="form-control" asp-for="Status">
                            <option>Active</option>
                            <option>Archived</option>
                        </select>

                        <button type="submit" class="btn btn-primary pull-right">Create Interaction</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>