<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/lib/css/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <nav class="navbar navbar-fixed navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="kw-nav-wrapper clearfix">
                    <div class="kw-logo col-xs-2">
                        <a class="" href="/">
                            <img src="~/lib/images/kw-logo.png" />
                        </a>
                    </div>
                    <div class="col-xs-8">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/Brokers">Brokers</a></li>
                            <li><a href="/KWTasks">Tasks</a></li>
                            <li><a href="/Alerts">Alerts</a></li>
                            <li><a href="/Messages">Messages</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-xs-2">

                        <a href="/Auth/Logout" class="btn btn-default" id="logout" aria-label="Left Align">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                Logout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <div>
        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/lib/scripts/customScripts.js"></script>
</body>
</html>
