@model KWFCI.Models.ViewModels.InteractionVM

<div class="modal fade" id="changeBrokerModal" tabindex="-1" role="dialog" aria-labelledby="changeBrokerModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Choose a Broker:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" aria-describedby="search-broker">
                                <span class="input-group-addon" id="search-broker"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="list-group" style="padding:10px 0px;">
                            @foreach (Broker b in Model.AllBrokers)
                            {
                                string name = b.FirstName + " " + b.LastName;
                                string email = b.Email;
                                <button type="button" class="list-group-item">
                                    <div class="col-xs-5" style="padding-left:0px;">
                                        <span>@name</span>
                                    </div>
                                    <div class="col-xs-1" style="padding:0 0;">
                                        <span  style="float:right;">|</span>
                                    </div>
                                    <div class="col-xs-6" style="padding-right:0px;">
                                        <span style="float:right;">@email</span>
                                    </div>
                                </button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>























