@model KWFCI.Models.Broker

<div class="modal fade" id="editBroker" tabindex="-1" role="dialog" aria-labelledby="editBroker">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="settingsLabel">@Model.FirstName @Model.LastName</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post">
                    <div class="form-group center-block">

                        <label asp-for="FirstName">First Name:</label>
                        <input asp-for="FirstName" class="form-control" /><br />
                        <span asp-validation-for="FirstName" class="text-danger"></span>

                        <label asp-for="LastName">Last Name:</label>
                        <input asp-for="LastName" class="form-control" /><br />
                        <span asp-validation-for="LastName" class="text-danger"></span>

                        <label asp-for="Email">Email:</label>
                        <input asp-for="Email" class="form-control" /><br />
                        <span asp-validation-for="Email" class="text-danger"></span>

                        <label asp-for="Type">Broker Type:</label>
                        <select class="form-control" asp-for="Type">
                            <option>New Broker</option>
                            <option>In Transition</option>
                        </select><br />

                        <label asp-for="Status"></label>
                        <div><span asp-validation-for="Status" class="text-danger"></span></div>
                        <select asp-for="Status" class="form-control">
                            <option value="Active" selected="selected">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <br /><br />
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input pull-right" type="checkbox" asp-for="EmailNotifications">Email Notifications: &nbsp;&nbsp;
                            </label>
                        </div>
                            <input type="hidden" class="broker-id" asp-for="BrokerID" value="" />
                            <input type="hidden" class="broker-modal-rowversion" asp-for="RowVersion" value=""/>
                            <input type="hidden" class="return-url" name="returnURL" value="" />
                        <button type="submit" class="btn btn-primary pull-right">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>