@model KWFCI.Models.ViewModels.AdminVM

    @{
        ViewBag.Title = "AdminHome";
    }

    <div class="row">
        <div class="adminBtns clearfix">
            <div class="col-xs-4 center-block">
                @Html.Partial("Modals/_AdminAddStaff", Model)
            </div>
            <div class="col-xs-4 center-block">
                <form asp-action="Staff" method="post">
                    <input type="hidden" name="Page" value="Staff" />
                    <button type="submit"
                            class="btn btn-sm btn-danger center-block">
                        <span>Staff</span>
                    </button>
                </form>
            </div>
            <div class="col-xs-4 center-block">
                <form asp-action="AdminInteractions" method="post">
                    <button type="submit"
                            class="btn btn-sm btn-danger center-block">
                        <span>Interactions</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div>
        @if (ViewBag.Page == "Staff")
        {
            @Html.Partial("AdminStaff");
        }
        @if (ViewBag.Page == "Interactions")
        {
            @Html.Partial("AdminInteractions");
        }
    </div>