@model List<Interaction>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered editTable">
            <thead>
                <tr>
                    <th>Broker</th>
                    <th>Notes</th>
                    <th>Date</th>
                    <th>Next Step</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Interaction a in Model)
                {
                    <tr style="height:100%;">
                        <td style="width:200px;text-align:center;">
                            <div class="alignCell-Parent">
                                <div class="alignCell">@a.BrokerName</div>
                            </div>
                        </td>
                        <td style="min-width:380px;max-width:380px;">
                            <div class="col-xs-12">
                                <div class="alignCell-Parent"><span class="alignCell">@a.Notes</span></div>
                            </div>
                        </td>
                        <td style="min-width:110px;max-width:110px;">
                            @a.DateCreated
                        </td>
                        <td style="min-width:380px;max-width:380px;height:100%;">
                            <div class="col-xs-10" style="height:100%;">
                                <div style="height:100%;"><span class="align-middle">@a.NextStep</span></div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>