@model KWFCI.Models.Broker



<div class="row">
    <div class="col-xs-12" style="text-align:center;">
        <h1 >Welcome Sally</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="text-align:center;">
        <h3>You have 4 Alerts</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5" style="text-align:center;">
        <div style="width:95%;"><h2>My Tasks</h2></div>
    </div>
    <div class="col-xs-5" style="text-align:center;">
        <div class="pull-right" style="width:95%;"><h2>All Tasks</h2></div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-5" style="height:500px;">
        <div style="width:95%;background-color:red;height:100%;"></div>
    </div>
    
    <div class="col-xs-5" style="height:500px;">
        <div style="width:95%;background-color:red;height:100%;float:right;"></div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-xs-12" style="text-align:center;" >
        <h1 class="center-block">Useful Shortcuts</h1>
    </div>
</div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <div style="float:none;display:flex;justify-content:space-between;">
                        <button class="btn btn-success btn-lg" style="height:100%;width:20%;">
                            View Brokers
                        </button>
                        <button class="btn btn-success  btn-lg" style="height:100%;width:20%;">
                            View Brokers
                        </button>
                        <button class="btn btn-success  btn-lg" style="height:100%;width:20%;">
                            View Brokers
                        </button>
                        <button class="btn btn-success  btn-lg" style="height:100%;width:20%;">
                            View Brokers
                        </button>
                    </div>
                </div>
                <div class="col-xs-1"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px;text-align:center;">
        <h2>My Interactions</h2>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-xs-10 col-xs-offset-1" style="background-color:blue;height:500px;"></div>
    </div>

























    @Html.Partial("Modals/_AddBrokerModal")

