@model Broker

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="BrokerID" />
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <div><span asp-validation-for="FirstName" class="text-danger"></span></div>
        <input asp-for="FirstName" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="LastName"></label>
        <div><span asp-validation-for="LastName" class="text-danger"></span></div>
        <input asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <div><span asp-validation-for="Email" class="text-danger"></span></div>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Status"></label>
        <div><span asp-validation-for="Status" class="text-danger"></span></div>
        <select asp-for="Status" class="form-control">
            <option value="Active" selected="selected">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="/Brokers" class="btn btn-default">Cancel</a>
    </div>
</form>