@model List<Alert>

@{
    ViewBag.Title = "Alerts";
}

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Priority</th>
                    <th>Date</th>
                    <th>Message</th>

                </tr>
            </thead>
            <tbody>
                @foreach (Alert a in Model)
                {
                    <tr>
                        <th>@a.Priority</th>
                        <th>@a.AlertDate</th>
                        <th>@a.Message</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--
<button type="button" class="newAlertBtn btn btn-default" data-toggle="modal" data-target="#newAlert">New Alert</button>

<div class="modal fade" id="newAlert" tabindex="-1" role="dialog" aria-labelledby="newAlertModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="settingsLabel">New Alert: @*<em>TODO: Use JavaScript to dynamically make this the broker name while being typed</em>*@</h4>
            </div>
            <div class="modal-body">

                <form asp-controller="Alert" asp-action="AddAlert" method="post">
                    <div class="form-group center-block">

                        <label asp-for="Priority">Priority:</label>
                        <select class="form-control" asp-for="Priority">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                        <label asp-for="AlertDate">Alert Date:</label>
                        <input asp-for="AlertDate" class="form-control" /><br />

                        <label asp-for="Message">Message:</label>
                        <input asp-for="Message" class="form-control" /><br />

                        <button type="submit" class="btn btn-primary pull-right">Create Alert</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    -->

<style>
    table, tr, th {
        border: 1px solid black;
    }
</style>